.alignleft {
  float: left;
  padding-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: inherit;
  font-size: 19px;
}

.alignright {
  float: right;
  padding-right: 100px;
  font-size: 15px;
  font-weight: inherit;
}

.container {
  padding-top: 20px;
}

.clear {
  clear: both;
}

.showno {
  color: white;
}

hr {
  display: block;
  margin-top: -1em;
  margin-bottom: 0.5em;
  margin-left: 10px;
  margin-right: 20px;
  border-style: solid;
  border-width: 1px;
}

.styled {
  line-height: 1.5;
  padding: 0 15px;
  font-size: 15px;
  text-align: center;
  color: #111111;
  border-radius: 3px;
  border-style: solid;
  border-width: thin;
  border-color: black;
  -webkit-box-shadow: inset 2px 2px 3px whitesmoke,
 inset -2px -2px 3px black;
          box-shadow: inset 2px 2px 3px whitesmoke,
 inset -2px -2px 3px black;
}

.styled:hover {
  background-color: #c9c8c8;
}

body {
  background-color: #606060;
  background-image: -webkit-gradient(linear, left top, right top, from(#e9e6e6), to(#fdf7f7));
  background-image: linear-gradient(to right, #e9e6e6, #fdf7f7);
}

.check {
  float: left;
}

.productbox {
  border: 1px solid #333;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
}

.pfonts {
  display: block;
  font-size: 16px;
  margin-top: -2px;
  margin-bottom: -2px;
  margin-left: 0;
  margin-right: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #127786;
}

.tabalign {
  text-align: right;
  float: left;
  padding: 10px;
  padding-top: 20px;
  padding-left: 60px;
}

.atralign {
  text-align: right;
  float: left;
  padding-top: 20px;
  padding-left: 10px;
}

.swalign {
  text-align: left;
  float: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
}

.types {
  display: none;
  -webkit-animation: fadeInAnimation ease 1s;
          animation: fadeInAnimation ease 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  border-radius: 3%;
  width: 320px;
  margin-right: auto;
  margin-left: 50px;
  border: 1px solid #141414;
  overflow: hidden;
  padding: 15px;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */