@import 'variables';

.alignleft {
    float: left;
    padding-left: $padding100;
    font-family: $font;
    font-weight: inherit;
    font-size: $topfontsize;
}

.alignright {
    float: right;
    padding-right: $padding100;
    font-size: 15px;
    font-weight: inherit;
}

.container {
    padding-top: 20px;
}

.clear {
    clear: both;
}

.showno {
    color: white;
}

hr { 
    display: block;
    margin-top: -1em;
    margin-bottom: 0.5em;
    margin-left: 10px;
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;
  }
    
.styled {
    line-height: 1.5;
    padding: 0 15px;
    font-size: 15px;
    text-align: center;
    color: rgb(17, 17, 17);
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    box-shadow: inset 2px 2px 3px whitesmoke,
                inset -2px -2px 3px black;
}

.styled:hover {
    background-color: rgb(201, 200, 200);
}

body {
    background-color: grayscale($color: #645c5c);
    background-image: linear-gradient(to right, rgb(233, 230, 230) , rgb(253, 247, 247));
}

.check{
    float: left;
}

.productbox {
    border:1px solid #333;
    background-color:#f1f1f1;
    border-radius:5px;
    padding:16px;
    text-align: center;
}

.pfonts { 
    display: block;
    font-size: 16px;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: 0;
    margin-right: 0;
    font-family: $font;
    color: #127786;
  }

  .tabalign {
      text-align:right;
      float:left;
      padding: 10px;
      padding-top: 20px;
      padding-left: 60px;
      
  }

  .atralign {
      text-align:right;
      float:left;
      padding-top: 20px;
      padding-left: 10px;
  }
    
  .swalign {
      text-align:left;
      float:center;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 60px;
  }

      .types { 
      display: none;
      animation: fadeInAnimation ease 1s; 
      animation-fill-mode: backwards;
      border-radius: 3%;
      width:320px;
      margin-right:auto;
      margin-left:50px;
      border:1px solid rgb(20, 20, 20);
      overflow:hidden;
      padding:15px;
   
  }
  
  @keyframes fadeInAnimation { 
      0% { 
          opacity: 0.1; 
      } 
      100% { 
          opacity: 1; 
      } 
  } 